// Colors
$color-dark-gray: #333;
$color-medium-gray: #ccc;
$color-light-gray: #eee;

$color-success: palegreen;
$color-error: palevioletred;

// Breakpoints
$breakpoint-mobile: 601px;

// Border Radius
$border-radius-small: 10px;
